@page "/"
@using BuildShop.Database
@rendermode InteractiveServer
@inject BuildContext ef

<PageTitle>Home</PageTitle>

<h1>Hello, world!</h1>

<div>
    @foreach (var item in ef.Products.ToList())
    {
        <img src="@item.Style">
        <p>@item.Title</p>
        <p>@item.Price за @item.Count шт.</p>
    }
</div>